.Card-container {
  min-width: 23vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: brown;
  border-radius: 8px;
  border-width: 0px;
  margin: 10px;
  padding: 0px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 2px 2px 25px 0px;
}
.Card-container:hover {
  box-shadow: 0px 0px 0px 0px;
  background-color: pink;
}
.Card-footer {
  padding: 10px 0px; 
  display: flex;
  flex-direction: column;
  background-color: gray;
  justify-content: center;
  align-items: flex-start;
}
.Title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  width: 23vh;
  padding: 3px;
}
.Author {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 23vh;
  padding: 3px;
}